services:
  web:
    build: ./app
    image: django-docker-api:latest
    container_name: class-based-api-views
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
    env_file:
      - .env